{% extends 'todo_app/base.html' %}

{% block title %}期限切れタスク{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4 d-flex justify-content-between align-items-center" id="taskSection">
        <div class="d-flex align-items-center">
            <span class="me-3">期限切れタスク</span>
            {% include 'todo_app/includes/sort_buttons.html' with current_sort=current_sort %}
        </div>
        {% include 'todo_app/includes/create_task_button.html' %}
    </h2>
    {% if overdue_tasks %}
        {% for task in overdue_tasks %}
            {% include 'todo_app/includes/task_card.html' with task=task show_share=False show_edit=True show_complete=True show_delete=True show_completed_at=False %}
        {% endfor %}
    {% else %}
        <div class="empty-message">
            <p>期限切れのタスクはありません。</p>
        </div>
    {% endif %}
</div>

{% include 'todo_app/includes/modals/complete_modal.html' %}
{% include 'todo_app/includes/modals/delete_modal.html' %}
{% endblock %}
